/* Enter your custom styles here */
.abc{
    height: 40px !important;
    background-color: bisque !important;
   }

/* .logo{
object-fit: fill !important;
} */

 .Logon{
    font-size: x-large !important;
    font-style: inherit;
    font-weight: bold;
    width: max-content !important;
    border: ghostwhite;
    /* background-color: cornsilk; */
     color: white;
 }
 .User{
    color: black;
    font-size: medium;
    font-style: unset;
    font-weight: bold;
    
 }
 .rightpanel{
   background-color: rgba(255, 255, 255, 0.753); /* semi-transparent white */
    padding: 20px;
    border: 2px solid #444; /* border color */
    border-radius: 20px;    /* rounded corners */
    box-shadow: 0 4px 12px rgba(0,0,0,0.2); /* soft shadow */
 
    position: absolute;
    left: 900px;       /* distance from left */
    top: 50%;         /* vertically center */
    transform: translateY(-50%);
 }
 .brandBox {
    position: absolute;
    margin-left: 500px;       /* distance from left */
    top: 50%;         /* vertically center */
    transform: matrix(-50%);
    
    height: 70px;
    width: 70px; /* set desired box width */
}
.backgroundimg
{
    background-image: url("../images/login.jpg");  /* correct path */
    background-size: cover;      /* scale to cover page */
    background-position: center; /* center it */
    background-repeat: no-repeat;
}
.logo{
object-fit: contain;
}
.title{
    font-weight: bolder;
    font-style: italic;
    font-size: medium;
}
.tagline{
    font-style: italic;
    font-size: larger;
    font-style: oblique;
}

 